html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: black;
    color: whitesmoke;
    min-width: 992px;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(0, 60, 0, 1), rgba(0, 4, 0, 1));
}

.invisible {
  display: none;
}

.main-area-container {
  width: 90vw;
  min-width: 992px;
  margin: 2rem auto;
}

.header-container {
  margin-left: calc(8.5vw + 4rem);
}

/* ******************* players ***************** */
.players-container {
  display: flex;
  justify-content: center;
}

.container {
  padding: 2rem;
  border: 4px outset goldenrod;
  margin: 1rem;
  background-color: #033a1d;
}

.player-container {
  width: 40%;
  height: 375px;
}

.pot-container, .cc-container {
  width: calc(72vw + 2rem);
  min-width: 825px;
  margin: 1rem auto;
}

.cc-container {
  min-height: calc(174px + 8px + 2rem);
}

.bet-slider {
  width: 80%;
  margin: 1rem auto 1rem 0;
}

.card-image {
  width: 125px;
}
